@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.MainHome {
    @include flex;
    height: 70vh;


    .ContainerConteudo {
        @include flex;
        flex-direction: column;
        width: 35vw;
        height: 30vh;
        justify-content: space-between;

        .SocialMediaNav {
            @include flex;
            width: 30vw;
        }
    }

    .Illustration {
        width: 40vw;
    }

    a {
        font-size: 20px;
    }
}