@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.MainHome {
    @include flex;
height: 80vh;
flex-wrap: wrap;
gap: 50px;
a{
    color:#000;
    text-decoration: none;
    font-size: 30px;
    &:visited{
        color:#000;
    }
}
    .ContainerConteudo {
        @include flex;
        flex-direction: column;
        width: 35vw;
        height: 30vh;
        justify-content: space-between;
        margin-top: 50px;
        .SocialMediaNav {
            @include flex;
            width: 300px;
            margin-top: 10px;
        }
        .TextContainer{
            @include flex;
            text-align: center;
            flex-direction: column;
            width: 30vw;
            margin-top: 15px;
        }
    }

    .Illustration {
        border-radius: 50%;
        
        width: 300px;
    }

    a {
        font-size: 20px;
    }
}