* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.HeaderNavbar {
    @include flex;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77), linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77);
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
    height: 20vh;
    ul {
        @include flex;
    width: 40vw;
    color: white;
    list-style: none;

}
}

