@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@mixin backgroundPattern{
    background-color: #0D1B2A;
    opacity: 0.8;
    background-image:  linear-gradient(30deg, #778DA9 12%, transparent 12.5%, transparent 87%, #778DA9 87.5%, #778DA9), linear-gradient(150deg, #778DA9 12%, transparent 12.5%, transparent 87%, #778DA9 87.5%, #778DA9), linear-gradient(30deg, #778DA9 12%, transparent 12.5%, transparent 87%, #778DA9 87.5%, #778DA9), linear-gradient(150deg, #778DA9 12%, transparent 12.5%, transparent 87%, #778DA9 87.5%, #778DA9), linear-gradient(60deg, #778DA977 25%, transparent 25.5%, transparent 75%, #778DA977 75%, #778DA977), linear-gradient(60deg, #778DA977 25%, transparent 25.5%, transparent 75%, #778DA977 75%, #778DA977);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    
}
header {
    .HeaderNavbar {

        border-radius:0 0 5% 5%;
    .Menu{
        display: none;
        @media screen   and  (max-width:600px){
            display:initial;
            width: 50px;
            height: 50px;
            background-color: transparent;
            color: white;
        }
    }
a{
    color:#000;

text-decoration: none;
font-size: 30px;
&:visited{
    color:#000;
}
}

        @include flex;
       // @include backgroundPattern;
       background-color: black;
        justify-content: space-between;
        height: 80px;

        figure {
            padding: 5vw;
        }

        .DefaultList {
            @include flex;
            align-items: flex-end;

            height: 80px;
            width: 40vw;
           color: #E0E1DD;
            list-style: none;
            li{
                color: #E0E1DD;
                background-color: #E0E1DD;
                
                    @media screen   and  (max-width:600px){
                        display:none;
                    }

            }
        }
        .MenuList{
            @media screen   and  (max-width:600px){
                flex-direction: column;
                height: 0vh;
                align-items: flex-start;
                justify-content: space-between;
                li{
                    @media screen   and  (max-width:600px){
                        display:initial;
                       
                        
                    background-color: #E0E1DD;
                    border-radius: 10px;
                }
            }
        }
        }
    }
}