@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header {
    .HeaderNavbar {
        @include flex;
        background-color: black;
        justify-content: space-between;
        align-items: flex-end;
        height: 80px;
h3{
    font-family: 'Courier New', Courier, monospace;
    color: #c4c2c2;
    font-size: clamp(2.5rem, 2.213rem + 1.5306vw, 3.4375rem);

    @media screen   and  (max-width:600px){
        display: none;
    }
}
    .Menu{
        display: none;
        @media screen   and  (max-width:600px){
            display:initial;
            width: 50px;
            height: 50px;
            background-color: transparent;
            color: white;
            border: 1px solid white;
        }
    }
a{
    color:#000;
text-decoration: none;
font-size: 30px;
&:visited{
    color:#000;
}
}
        figure {
            padding: 5vw;
        }

        .DefaultList {
            @include flex;
            align-items: flex-end;
            height: 80px;
        
            list-style: none;
            li{
                text-align: center;
                border-left: 2px double rgb(196, 194, 194);;
                border-radius: 5%;
                width: 12vw;
                &:hover{
                    background-color: rgb(196, 194, 194);;
                    a{
                        color:black
                    }
                }
                a{ 
                    color: rgb(196, 194, 194);
                    font-size: clamp(1rem, 0.8278rem + 0.9184vw, 1.5625rem);
                }
                    @media screen   and  (max-width:600px){
                        display:none;
                    }

            }
        }
        .MenuList{
            @media screen   and  (max-width:600px){

                background-color: #000;
                border-radius: 10px;
                position: relative;
                top: 100px;
                right: 75px;
                width: 200px;
                text-align: right;
                list-style: none;
                display: flex;
                flex-direction: column;
               
                justify-content: space-between;
                a{
                    color: #fff;
                }
                li{
                    @media screen   and  (max-width:600px){

                       a:hover{
                        color:#000
                       }
                    &:hover{    
                    background-color: #E0E1DD;
                    border-radius: 10px;}
                }
            }
        }
        }
    }
}