@mixin flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.MainProjetos {
    @include flex;
    background-color: #E0E1DD;
    margin: 50px 0 100px;
    h1{
        font-size: 50px;
    }

    .ProjectsContainer {
        @include flex;
        width: 60vw;
        gap: 50px;

        .ConteudoProjetosContainer {
            @include flex;
            align-items: flex-start;

            img {
                width: 300px;
                aspect-ratio: 16/9;
                &hover{
                    transform: scale(1.1)
                }
            }

            .ConntainerBotao {
                @include flex;
                flex-direction: row;
                justify-content: space-between;
                width: 150px;
            }
        }
    }
}