@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.MainSobre {
    @include flex;
    flex-wrap: wrap;
   margin: 100px 0 100px;

   a{
    color:#000;
    text-decoration: none;
    font-size: 30px;
    &:visited{
        color:#000;
    }
}
    .SobreContainer {
        @include flex;
        flex-direction: column;
        width: 50vw;
        img {
            border-radius: 50%;
            border:1px solid;
            height: 100px;
        }
    }

    .StackContainer {
        @include flex;

        flex-direction: column;

        .Stack {
            display: grid;
            gap: 50px;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}