@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.MainSobre {
    @include flex;
    flex-wrap: wrap;
   margin: 100px 0 100px;

    .SobreContainer {
        @include flex;
        flex-direction: column;
        width: 50vw;
        img {
            height: 100px;
        }
    }

    .StackContainer {
        @include flex;

        flex-direction: column;

        .Stack {
            display: grid;
            gap: 50px;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}